<h1> Add comment </h>
  <form action='/submit_comment_add' method='post'>
    <label for="comment">
      Comment
    <textarea name='comment'>
    </textarea>
    </label>
    <input type='submit' value='Submit'>
  </form>
