<h1> Type URL or title you like to comment</h>
  <form action='/submit_comment' method='post'>
    <label for="url">
      URL
    <input type='text' name='url'>
    </label>
    <label for="title">
      Title
    <input type='text' name='title'>
    </label>
    <input type='submit' value='Submit'>
  </form>
