<h1> Type the title or url you want delete</h>
<form action='/submit_delete' method='post'>
  <label for="url">
    URL
  <input type='text' name='url'>
  </label>
  <label for="title">
    Title
  <input type='text' name='title'>
  </label>
  <input type='submit' value='Submit'>
</form>
