<%= flash[:error] %>
<ul>
<% Bookmark.all.each do |bookmark| %>
    <li><a href=<%= bookmark.url %>><%= bookmark.title %></a></li>
<% end %>
</ul>
<form action='/add_bookmark'>
  <input type='submit' value='Add new bookmark'>
</form>
<form action='/delete_bookmark'>
  <input type='submit' value='Delete bookmark'>
</form>
<form action='/update_bookmark'>
  <input type='submit' value='Update bookmark'>
</form>
<form action='/comment'>
  <input type='submit' value='Add a comment'>
</form>
