<%= flash[:error] %>
<ul>
<% @bookmarks.each do |bookmark| %>
    <li>
      <a href=<%= bookmark.url %>><%= bookmark.title %></a>
    </li>
    <ul>
      <% bookmark.comments.each do |comment| %>
        <li><%= comment.text %></li>
      <% end %>
    </ul>
<% end %>
</ul>
<form action='/add_bookmark'>
  <input type='submit' value='Add new bookmark'>
</form>
<form action='/delete_bookmark'>
  <input type='submit' value='Delete bookmark'>
</form>
<form action='/update_bookmark'>
  <input type='submit' value='Update bookmark'>
</form>
<form action='/comment'>
  <input type='submit' value='Add a comment'>
</form>
<form action='/tag_add'>
  <input type='submit' value='Add a tag'>
</form>
<form action='/tag_add_to'>
  <input type='submit' value='Add a tag to the bookmark'>
</form>
<form action='/sort_by_tag'>
  <input type='submit' value='Sort by tag'>
</form>
<form action='/'>
  <input type='submit' value='Back to homepage'>
</form>
