<h1> Type Tag you want sort with</h>
<form action='/submit_sort_by_tag' method='post'>
  <label for="tag">
    Tag
  <input type='text' name='tag'>
  </label>
  <input type='submit' value='Submit'>
</form>
