<h1> Type suggested changes </h>
  <form action='/submit_update_with_changes' method='post'>
    <label for="url">
      URL
    <input type='text' name='url'>
    </label>
    <label for="title">
      Title
    <input type='text' name='title'>
    </label>
    <input type='submit' value='Submit'>
  </form>
